<h3> Patients list </h3>
<table class="table">
  <tr>
    <th>Email</th>
    <th>Actions</th>
  </tr>

  <% if @patients.present? %>
    <% @patients.each do |pat| %>
      <tr class=<%= %(reading_row_#{pat.id}) %> >
        <td><%= pat.email %></td>
        <td><%= link_to "reports", reports_path(pat.id), class: 'btn btn-primary btn-lg' %></td>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>